{% extends 'base.html' %}
{% load static %}
{% block content %}
    <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url({% static 'images/bg_3.jpg' %});"
             data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                <div class="col-md-9 ftco-animate pb-5">
                    <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'cars:home' %}">Головна <i
                            class="ion-ios-arrow-forward"></i></a></span> <span> {{ object.name }} <i
                            class="ion-ios-arrow-forward"></i></span></p>
                    <h1 class="mb-3 bread">{{ object.name }}</h1>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section contact-section">
        <div class="container">
            <div class="row d-flex mb-5 contact-info">
                <div class="col-md-4">
                    <div class="row mb-5">
                        <img src="{{ object.image.url }}" width="100%">
                    </div>
                </div>
                <div class="col-md-8 block-9 mb-md-5">
                    <form action="#" class="bg-light p-5 contact-form">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Прізвище">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Ім'я">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Електронна пошта">
                        </div>
                        <div class="form-group">
                            <input type="tel" class="form-control" placeholder="Номер телефону">
                        </div>
                        <div class="form-group">
                        <select class="form-control" aria-label="Комплектація">
                            {% for complect in auto.complete_sets.all %}
                            <option value="{{ complect }}">{{ complect }}</option>
                            {% endfor %}
                        </select>
                        </div>
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="7" class="form-control"
                                      placeholder="Примітка"></textarea>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Оформити" class="btn btn-primary py-3 px-5">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}